<section data-ng-controller="usersAppController">
	<div class="wrapper row-offcanvas row-offcanvas-left" data-ng-init="findOne()" style="min-height: 612px;">
           <div sidemenu></div>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
               <section class="content">
                      <div class="ut-content">
				    	<div class="box-header">
				        <h3 class="box-name">Detail of User</h3>
				        </div>
								First Name: {{user.firstName}}<br>
								Last Name: {{user.lastName}}<br>
								Username: {{user.username}}<br>
								Email: {{user.email}}<br>
								Password: {{user.password}}<br>

            </aside>
    </div>
</section>
