<section data-ng-controller="AppsController" >

<div sidemenu></div>
    <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 612px;">
            <aside class="right-side">
              <section class="content-header">
                  <h1>
                      App Page
                  </h1>
                  <ol class="breadcrumb">
                      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                      <li class="active">Applications</li>
                  </ol>
              </section>
            </aside>
            <aside class="right-side" data-ng-controller="usersAppController" ng-init="find()">
                <section class="content" >
                    <div class="viewport-container">

                    </div>
                </section>
            </aside>
    </div>
</section>
